
<div class="container">
<h2>Auction Time</h2>
  <form>
    <div class="form-group">
      <label for="title">Lot Title:</label>
      {{input name="title" value=title type="text" placeholder="Title"}}
    </div>
    <div class="form-group">
      <label for="date">Date of Auction:</label>
      {{input name="date" value=date type="date"}}
    </div>
    <button class="btn btn-default" {{action 'save'}}>Submit</button>
  </form>
</div>
<div class="container">
<ul>
  {{#each }}
    <li>{{#link-to 'lot' this.id}}{{title}}{{/link-to}}</li>
    <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

  {{/each}}
</ul>
</div>
