

<!-- <div class="container"> -->
  <!-- <div class="col-md-12 well"> -->
    <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-interval="4000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>


        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <!-- <h2>Slide 1</h2> -->
            <img src="https://inspirationfeeed.files.wordpress.com/2013/09/p6xwfbf1.jpg"/>
            <div class="carousel-caption">
              <!-- <h4>Kitten Is Utterly Confused By The Discovery Of Her Tail</h4> -->
            </div>
          </div>
          <div class="item">
              <img src="http://www.ulc.org/wp-content/uploads/2012/05/Proxy-Falls-Three-Sisters-Wilderness-Oregon.jpg"/>
          </div>
          <div class="item">
              <img src="http://i.huffpost.com/gen/1966437/thumbs/o-CRAFT-BEERS-facebook.jpg"/>
          </div>
          <div class="item">
            <img src="http://spawnandsurvive.com/wp-content/uploads/2014/05/Bend-Oregon-2014.jpg"/>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->


<div class="container">
  <h2>Auction Time</h2>

  <form>
    <div class="form-group">
      <label for="title">Lot Title:</label>
      {{input name="title" value=title type="text" placeholder="Title"}}
    </div>
    <div class="form-group">
      <label for="date">Date of Auction:</label>
      {{input name="date" value=date type="date"}}
    </div>
    <div class="form-group">
      <label for="photo">Upload Auction Photo</label>
      {{input name="photo" value=photo type="url"}}
    </div>
    <button class="btn btn-default" {{action 'save'}}>Submit</button>
  </form>
</div>

<div class="container">

<br>
  {{#each}}
    {{#link-to 'lot' this.id}} <img {{bind-attr src = photo}} height="164" width="164"> {{title}}{{/link-to}}
    <button class="btn btn-xs btn-danger" {{action 'delete' this}}>Delete</button>

  {{/each}}

</div>
